header {
  background-color: #da291c;

  p {
    margin: 0;
    padding: 15px 0;
    font-size: 26px;
    color: #ffffff;

    span {
      font-weight: bold;
      color: #ffc72c;
    }
  }

  ul {
    margin: 0;
  }
}
